{% extends "mybase.html" %}

{% block title %}
    HomePage
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="ten columns centered">
            <p>This site is a template. Combined with my customized bitnami django VMware VM, it makes it
                easy to start a new project. Select Hello to see the pieces of the template, and Demo to see
                a demonstration of a very small fraction of the capabilities of Zurb, the Saas/CSS front-end
                framework.</p>
            <p>It is currently {{ current_time|date:"DATETIME_FORMAT" }}</p>
        </div>
    </div>
{% endblock content %}
