{% extends "mybase.html" %}

{% block title %}
    HomePage
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="ten columns centered">
            <p>This site is a fat template, designed for beginners who want the following:</p>

            <div class="ten columns centered">
                <ul>
                    <li>Django/Python back end framework</li>
                    <li>Zurb Foundation 3 responsive CSS/SASS front end framework</li>
                    <li>Ready to deploy to dotcloud out of the box</li>
                </ul>
            </div>

            <p>I customized bitnami's Django Stack (VMware VM) to make this especially easy, but if
                you prefer you can set up your own environment (you'll need to change the settings.py)</p>

            <p>Select Stack to see a list of the template components,
                Admin to see the Django admin, or select one of the Demo submenu items to see
                a demonstration of a very small fraction of the capabilities of Zurb, the Saas/CSS front-end
                framework.</p>

            <p>It is currently {{ current_time|date:"DATETIME_FORMAT" }}</p>
        </div>
    </div>
{% endblock content %}
