{% extends "mybase.html" %}

{% block title %}
    Stack
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="six columns centered">
            <p>Hello World. This site is fat Django template, with the following:</p>

            <div class="ten columns centered">
                <ul>
                    <li>Language: Python 2.7.3</li>
                    <li>Front-end framework: Zurb Foundation 3</li>
                    <li>Back-end framework: Django 1.4.3</li>
                    <li>DB: PostgreSQL</li>
                    <li>Key-value store (in memory): Redis 3.1.5</li>
                    <li>Host (PaaS - Platform as a Service): dotcloud.com</li>
                    <li>IDE: Pycharm</li>
                    <li>Development environment: bitnami django stack (customized VMware virtual machine)</li>
                </ul>
            </div>
            <p> The current day and time is {{ current_time|date:"DATETIME_FORMAT" }}.</p>
        </div>
    </div>
{% endblock content %}
