{% extends "mybase.html" %}

{% block title %}
    Zurb Tabs
{% endblock title %}

{% block content %}
    <div class="row">
    <section role="main">
    <div class="row">
    <div class="eight columns centered">
    <h2>Tabs</h2>
    <h5 class="subheader">Tabs are very versatile both as organization and navigational constructs. With the base
        Foundation package, tabs in the markup specified below are already hooked up &mdash; no extra work
        required.</h5>

    <hr>

    <div class="row tabs">
        <div class="eight columns">
            <h3>Simple Tabs</h3>
        </div>
        <div class="four columns tabs">
            <dl class="tabs pill small">
                <dd class="active"><a href="#tabsEx">Example</a></dd>
                <dd><a href="#tabsCode">Code</a></dd>
            </dl>
        </div>
    </div>
    <p>Tabs are made of <strong>two objects:</strong> a <code>dl/ul</code> object containing the tabs themselves, and a
        <code>ul</code> object containing the tab content. If you simply want visual tabs (as seen in this
        documentation) without the on-page hookup, you only need the DL/LI. If you want functional tabs, just be sure
        that each tab is linked to an ID, and that the corresponding tab has an ID of <code>#tabnameTab</code>. Check
        out these examples.</p>

    <p><em>Note: The third tab is using the <a href="media-queries.php">mobile visibility classes</a> to hide on small
        devices.</em></p>
    <ul class="tabs-content">
        <li class="active" id="tabsExTab">
            <dl class="tabs">
                <dd class="active"><a href="#simple1">Simple Tab 1</a></dd>
                <dd><a href="#simple2">Simple Tab 2</a></dd>
                <dd class="hide-for-small"><a href="#simple3">Simple Tab 3</a></dd>
            </dl>
            <ul class="tabs-content">
                <li class="active" id="simple1Tab">This is simple tab 1s content. Pretty neat, huh?</li>
                <li id="simple2Tab">This is simple tab 2s content. Now you see it!</li>
                <li id="simple3Tab">This is simple tab 3s content.</li>
            </ul>
        </li>
        <li id="tabsCodeTab">
<pre><code data-language='html'>
    &lt;dl class=&quot;tabs&quot;&gt;
    &lt;dd class=&quot;active&quot;&gt;&lt;a href=&quot;#simple1&quot;&gt;Simple Tab 1&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#simple2&quot;&gt;Simple Tab 2&lt;/a&gt;&lt;/dd&gt;
    &lt;dd class=&quot;hide-for-small&quot;&gt;&lt;a href=&quot;#simple3&quot;&gt;Simple Tab 3&lt;/a&gt;&lt;/dd&gt;
    &lt;/dl&gt;
    &lt;ul class=&quot;tabs-content&quot;&gt;
    &lt;li class=&quot;active&quot; id=&quot;simple1Tab&quot;&gt;This is simple tab 1s content. Pretty neat, huh?&lt;/li&gt;
    &lt;li id=&quot;simple2Tab&quot;&gt;This is simple tab 2s content. Now you see it!&lt;/li&gt;
    &lt;li id=&quot;simple3Tab&quot;&gt;This is simple tab 3s content.&lt;/li&gt;
    &lt;/ul&gt;
</code></pre>
        </li>
    </ul>

    <hr>

    <div class="row tabs">
        <div class="eight columns">
            <a name="tab-sizing"></a>
            <h4>Tab Sizing</h4>
        </div>
        <div class="four columns tabs">
            <dl class="tabs pill small">
                <dd class="active"><a href="#tabszEx">Example</a></dd>
                <dd><a href="#tabszCode">Code</a></dd>
            </dl>
        </div>
    </div>
    <p>If you want your tabs to run the full width of their container evenly, you can add class of <code>.two-up</code>,
        <code>.three-up</code>, <code>.four-up</code>, and <code>.five-up</code> to them.</p>
    <ul class="tabs-content">
        <li class="active" id="tabszExTab">
            <dl class="tabs three-up">
                <dd class="active"><a href="#evenTab1">Even Tab 1</a></dd>
                <dd><a href="#evenTab2">Even Tab 2</a></dd>
                <dd><a href="#evenTab3">Even Tab 3</a></dd>
            </dl>

            <dl class="tabs five-up">
                <dd class="active"><a href="#evenTab4">Tab 4</a></dd>
                <dd><a href="#evenTab5">Tab 5</a></dd>
                <dd><a href="#evenTab6">Tab 6</a></dd>
                <dd><a href="#evenTab7">Tab 7</a></dd>
                <dd><a href="#evenTab8">Tab 8</a></dd>
            </dl>
        </li>
        <li id="tabszCodeTab">
<pre><code data-language='html'>
    &lt;dl class=&quot;tabs three-up&quot;&gt;
    &lt;dd class=&quot;active&quot;&gt;&lt;a href=&quot;#evenTab1&quot;&gt;Even Tab 1&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#evenTab2&quot;&gt;Even Tab 2&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#evenTab3&quot;&gt;Even Tab 3&lt;/a&gt;&lt;/dd&gt;
    &lt;/dl&gt;

    &lt;dl class=&quot;tabs five-up&quot;&gt;
    &lt;dd class=&quot;active&quot;&gt;&lt;a href=&quot;#evenTab4&quot;&gt;Tab 4&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#evenTab5&quot;&gt;Tab 5&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#evenTab6&quot;&gt;Tab 6&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#evenTab7&quot;&gt;Tab 7&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#evenTab8&quot;&gt;Tab 8&lt;/a&gt;&lt;/dd&gt;
    &lt;/dl&gt;
</code></pre>
        </li>
    </ul>

    <hr>

    <div class="row tabs">
        <div class="eight columns">
            <a name="contained-tabs"></a>
            <h4>Contained Tabs</h4>
        </div>
        <div class="four columns tabs">
            <dl class="tabs pill small">
                <dd class="active"><a href="#contEx">Example</a></dd>
                <dd><a href="#contCode">Code</a></dd>
            </dl>
        </div>
    </div>
    <p>Contained tabs have a simple added class of "contained" on the tabs-content element. What that means is the tab
        content has a border around it tying it to the tabs. You can still use standard column sizes inside a tab
        element.</p>

    <p>You'll also notice in this example that a <code>dt</code> element can serve to label groups of tabs. You can
        alternatively use an <code>li.section-title</code> to do the same thing.</p>
    <ul class="tabs-content">
        <li class="active" id="contExTab">
            <dl class="tabs contained">
                <dt>Title 1</dt>
                <dd class="active"><a href="#simpleContained1">Simple Tab 1</a></dd>
                <dd class="hide-for-small"><a href="#simpleContained2">Simple Tab 2</a></dd>
                <dt class="hide-for-small">Title 1</dt>
                <dd class="hide-for-small"><a href="#simpleContained3">Simple Tab 3</a></dd>
            </dl>
            <ul class="tabs-content contained">
                <li class="active" id="simpleContained1Tab">This is simple tab 1s content. Pretty neat, huh?</li>
                <li id="simpleContained2Tab">This is simple tab 2s content. Now you see it!</li>
                <li id="simpleContained3Tab">This is simple tab 3s content.</li>
            </ul>
        </li>
        <li id="contCodeTab">
<pre><code data-language='html'>
    &lt;dl class=&quot;tabs contained&quot;&gt;
    &lt;dt&gt;Title 1&lt;/dt&gt;
    &lt;dd class=&quot;active&quot;&gt;&lt;a href=&quot;#simpleContained1&quot;&gt;Simple Tab 1&lt;/a&gt;&lt;/dd&gt;
    &lt;dd class=&quot;hide-for-small&quot;&gt;&lt;a href=&quot;#simpleContained2&quot;&gt;Simple Tab 2&lt;/a&gt;&lt;/dd&gt;
    &lt;dt class=&quot;hide-for-small&quot;&gt;Title 1&lt;/dt&gt;
    &lt;dd class=&quot;hide-for-small&quot;&gt;&lt;a href=&quot;#simpleContained3&quot;&gt;Simple Tab 3&lt;/a&gt;&lt;/dd&gt;
    &lt;/dl&gt;
    &lt;ul class=&quot;tabs-content contained&quot;&gt;
    &lt;li class=&quot;active&quot; id=&quot;simpleContained1Tab&quot;&gt;This is simple tab 1s content. Pretty neat,
    huh?&lt;/li&gt;
    &lt;li id=&quot;simpleContained2Tab&quot;&gt;This is simple tab 2s content. Now you see it!&lt;/li&gt;
    &lt;li id=&quot;simpleContained3Tab&quot;&gt;This is simple tab 3s content.&lt;/li&gt;
    &lt;/ul&gt;
</code></pre>
        </li>
    </ul>

    <hr>

    <div class="row tabs">
        <div class="eight columns">
            <a name="pill-nav"></a>
            <h4>Pill-Style Tabs</h4>
        </div>
        <div class="four columns tabs">
            <dl class="tabs pill small">
                <dd class="active"><a href="#pillEx">Example</a></dd>
                <dd><a href="#pillCode">Code</a></dd>
            </dl>
        </div>
    </div>
    <p>If you need an alternate view for tabs (especially for filters, or similar), you can use pill-style tabs.</p>
    <ul class="tabs-content">
        <li class="active" id="pillExTab">
            <dl class="tabs pill">
                <dd class="active"><a href="#pillTab1">Pill Tab 1</a></dd>
                <dd><a href="#pillTab2">Pill Tab 2</a></dd>
                <dd class="hide-for-small"><a href="#pillTab3">Pill Tab 3</a></dd>
            </dl>
        </li>
        <li id="pillCodeTab">
<pre><code data-language='html'>
    &lt;dl class=&quot;tabs pill&quot;&gt;
    &lt;dd class=&quot;active&quot;&gt;&lt;a href=&quot;#pillTab1&quot;&gt;Pill Tab 1&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#pillTab2&quot;&gt;Pill Tab 2&lt;/a&gt;&lt;/dd&gt;
    &lt;dd class=&quot;hide-for-small&quot;&gt;&lt;a href=&quot;#pillTab3&quot;&gt;Pill Tab 3&lt;/a&gt;&lt;/dd&gt;
    &lt;/dl&gt;
</code></pre>
        </li>
    </ul>

    <hr>

    <div class="row tabs">
        <div class="eight columns">
            <a name="vertical-tabs"></a>
            <h4>Vertical Tabs</h4>
        </div>
        <div class="four columns tabs">
            <dl class="tabs pill small">
                <dd class="active"><a href="#vertTabsEx">Example</a></dd>
                <dd><a href="#vertTabsCode">Code</a></dd>
            </dl>
        </div>
    </div>
    <p>You can also use tabs in a vertical configuration by adding a class of 'vertical' to the <code>dl/ul</code>
        element. These are great for more scalable nav, and you can see how they work on this page on a tablet or
        desktop.</p>
    <ul class="tabs-content">
        <li class="active" id="vertTabsExTab">
            <dl class="vertical tabs">
                <dd class="active"><a href="#vertical1">Vertical Tab 1</a></dd>
                <dd><a href="#vertical2">Vertical Tab 2</a></dd>
                <dd><a href="#vertical3">Vertical Tab 3</a></dd>
            </dl>
        </li>
        <li id="vertTabsCodeTab">
<pre><code data-language='html'>
    &lt;dl class=&quot;vertical tabs&quot;&gt;
    &lt;dd class=&quot;active&quot;&gt;&lt;a href=&quot;#vertical1&quot;&gt;Vertical Tab 1&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#vertical2&quot;&gt;Vertical Tab 2&lt;/a&gt;&lt;/dd&gt;
    &lt;dd&gt;&lt;a href=&quot;#vertical3&quot;&gt;Vertical Tab 3&lt;/a&gt;&lt;/dd&gt;
    &lt;/dl&gt;
</code></pre>
        </li>
    </ul>

    <h5>Mobile Tabs</h5>

    <p>If you want a standard, horizontal tab group to act vertical on small devices, adding a class of "mobile" to a
        standard (not vertical) tab group will switch them to full width nav bars on small screens.</p>

    <hr>

    <div class="panel">
        <h3>What's the missing element?</h3>
        <h5 class="subheader">There are tons of common UI elements used across the web each day. We've got a lot of
            really good pieces for you to use and we're always looking to add more!</h5>
        <a class="button" href="elements.php">Learn about our UI Elements &raquo;</a>
    </div>
    </div>
    </div>
    </section>
    </div>

{% endblock content %}